@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  cursor: url(assets/cursor.png), auto;
}

body {
  background-color: #febe38;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f42625;
  border-radius: 100vw;
  margin-block: 4.3rem;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  border-radius: 100vw;
  background-color: #ffe63f;
  border:0rem solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #febe38;
  border:0.21rem solid transparent;
  background-clip: content-box;

}
.header{
  margin: 1.5% 1.5%;
}
.face{
  margin: 0% 3%;
}
.products{
  background-image: url(assets/productsback.jpg);
  background-size: 275vw;
  margin: 3% 3%;
  padding: 3% 3%;
  width: auto;
  height: auto;
  border-radius: 3vw;
}
.back{
  display: flex;
  justify-content: space-around;
  margin: 5% 1%;
}
.card-text{
  text-align: justify;
  font-weight: normal;
  color: black;
}
.navbar{
  height: auto;
  border-radius: 100vh;
  margin: 1.5% 1.5%;
}
.navlogo{
  width: 5vw;
}
.cbutton{
  border-color: transparent;
  color:#0C0404;
  font-family: 'Carter One', cursive;
  font-size: 19px;
}
.mobnav{
  visibility: hidden;
}
.txtbox{
  opacity: 59%;
  border-radius: 100vw;
  width: 9vw;
}
.poster1{
  height: auto;
}
.items{
  background-color: #febe38;
}
.dropdown-item{
  color: #f42625;
  font-family: 'Ubuntu', sans-serif;
}
.learn{
  color:#f42625;
}
.learn:hover{
  background-color: #f42625;
  color: antiquewhite;
}
.alert{
  width: auto;
  background-color: #f42625;
  border-color: #febe38;
}
h3{
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
.card1:hover{
  box-shadow: -7px 7px 10px #fee466;
}
.card2:hover{
  box-shadow: -7px 7px 10px #c5eaf9;
}
.card3:hover{
  box-shadow: -7px 7px 10px #295b87;
}
.card4:hover{
  box-shadow: -7px 7px 10px #ef8122;
}
.card5:hover{
  box-shadow: -7px 7px 10px #f11133;
}
.card6:hover{
  box-shadow: -7px 7px 10px #2a6bdc;
}
.card7:hover{
  box-shadow: -7px 7px 10px #ffad3b;
}
.card8:hover{
  box-shadow: -7px 7px 10px #d7000f;
}
.card9:hover{
  box-shadow: -7px 7px 10px #00eb94;
}
@media screen and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    cursor: url(assets/cursor.png), auto;
  }
  
  body {
    background-color: #febe38;
  }
  
  ::-webkit-scrollbar {
    width: 1rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #f42625;
    border-radius: 100vw;
    margin-block: 4.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1rem;
    border-radius: 100vw;
    background-color: #F4EA56;
    border:0.21rem solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #FFCD19;
  }
  p {
    color: red;
  }
  .header{
    margin: 1.5% 1.5%;
  }
  .navbar{
    height: auto;
    border-radius: 100vh;
  }
  .navlogo{
    width: 5vw;
  }
  .cbutton{
    border-color: transparent;
    color:#0C0404;
    font-family: 'Carter One', cursive;
    font-size: 19px;
  }
  .mobnav{
    visibility: visible;
  }
  .desknav{
    visibility: hidden;
  }
}